In [12]:
import pandas as pd

In [13]:
# !pip install ftfy

In [20]:
def readCNCodes():
    cnCodes_df = pd.read_csv("../dataset/tax_codes.csv")
    # Remove spaces from tax_code
    cnCodes_df["tax_code"] = cnCodes_df["tax_code"].str.replace(' ', '')

    # Filter rows where tax_code length is 8
    return cnCodes_df[cnCodes_df["tax_code"].str.len() == 8]

df = readCNCodes()

df.count()

tax_code       10255
description    10255
dtype: int64

In [19]:
df.head()

0        8901
1      890110
2    89011010
3      890120
4    89012010
Name: tax_code, dtype: object

# VAT Dataset

In [3]:
vat_df = pd.read_csv("../dataset/VAT Rates in Europe  EU VAT Rates by Country.csv")
vat_df.head(20)

,Country,Super-Reduced Rate (%),Reduced Rate (%),Parking Rate (%),Standard Rate (%)
0,Austria (AT),-,10 / 13,13,20.0
1,Belgium (BE),-,6 / 12,12,21.0
2,Bulgaria (BG),-,9,-,20.0
3,Croatia (HR),-,5 / 13,-,25.0
4,Cyprus (CY),-,5 / 9,-,19.0
5,Czech Republic (CZ),-,12,-,21.0
6,Denmark (DK),-,-,-,25.0
7,Estonia (EE),-,9 / 13,-,22.0
8,Finland (FI),-,10 /14,-,25.5
9,France (FR),2.1,5.5 / 10,-,20.0
10,Georgia (GE),-,-,-,18.0
11,Germany (DE),-,7,-,19.0
12,Greece (GR),-,6 / 13,-,24.0
13,Hungary (HU),-,5 / 18,-,27.0
14,Iceland (IS),-,11,-,24.0
15,Ireland (IE),4.8,9 / 13.5,13.5,23.0
16,Italy (IT),4,5 / 10,-,22.0
17,Latvia (LV),-,5 / 12,-,21.0
18,Lithuania (LT),-,5 / 9,-,21.0
19,Luxembourg (LU),3,8,14,17.0

In [4]:
# vat_df.value_counts("Parking Rate (%)")

In [5]:
vat_df.value_counts("Standard Rate (%)")

Standard Rate (%)
20.0    7
21.0    6
23.0    4
25.0    4
19.0    3
22.0    3
18.0    2
24.0    2
8.1     1
17.0    1
25.5    1
27.0    1
Name: count, dtype: int64

In [6]:
# vat_df.value_counts("Reduced Rate (%)")

In [7]:
# vat_df.value_counts("Super-Reduced Rate (%)")

In [8]:
vat_df = vat_df["Standard Rate (%)"]
vat_df.head()

0    20.0
1    21.0
2    20.0
3    25.0
4    19.0
Name: Standard Rate (%), dtype: float64

# Sales Dataset

In [9]:
sales_df = pd.read_excel("../dataset/Online Retail.xlsx")
sales_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [9]:
# sales_df.value_counts("Country")

In [8]:
# sales_df_uk = sales_df[sales_df["Country"] == "United Kingdom"]
# sales_df_other = sales_df[sales_df["Country"] != "United Kingdom"]

In [6]:
# sales_df_uk_sampled = sales_df_uk.sample(frac=0.02, random_state = 42)

# sales_df = pd.concat([sales_df_uk_sampled,sales_df_other],ignore_index=True)

In [7]:
# sales_df.value_counts("Country")

In [4]:
# sales_df.head()

In [3]:
# sales_df.to_csv("../dataset/Online Retail Balanced.csv")

In [5]:
# sales_df = pd.read_csv("../dataset/Online Retail Balanced.csv")
# sales_df.value_counts("Country")

In [2]:
# flipkart_df = pd.read_csv("../dataset/flipkart_com-ecommerce_sample.csv")
# flipkart_df.head()

In [1]:
# flipkart_df_final= flipkart_df[["uniq_id","product_name","product_category_tree","retail_price","discounted_price","description"]]
# flipkart_df_final.head()