In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("./dataset/harmonized-system.csv")

In [3]:
df.head()

,section,hscode,description,parent,level
0,I,1,Animals; live,TOTAL,2
1,I,101,"Horses, asses, mules and hinnies; live",1,4
2,I,10121,"Horses; live, pure-bred breeding animals",101,6
3,I,10129,"Horses; live, other than pure-bred breeding an...",101,6
4,I,10130,Asses; live,101,6

In [4]:
df["hscode"] = pd.to_numeric(df["hscode"], errors="coerce")
df = df[df["hscode"].notna()]

- Create test data from dataset 01 to check the retrieval performance

In [ ]:
# select only six digit HS Codes
df["hscode"] = df["hscode"].astype(str)
df = df[df["hscode"].str.len() >= 5]
df = df.sample(n=1000, random_state=42)
df_final = df[["hscode","description"]]
df_final.to_csv("test_hs_codes.csv", encoding='utf-8', index=False, header=["hscode", "description"])

In [ ]:
df_test = pd.read_csv("./dataset/test_hs_codes.csv")
df_test["hscode"] = df_test["hscode"].astype('string')

In [ ]:
# code_dict = df_test["hscode"].to_dict()
# print(code_dict)

{0: '600590', 1: '262019', 2: '300342', 3: '20910', 4: '701890', 5: '293520', 6: '260700', 7: '852990', 8: '270900', 9: '350300', 10: '30494', 11: '71040', 12: '600330', 13: '490191', 14: '848050', 15: '902000', 16: '730240', 17: '731300', 18: '530620', 19: '282550', 20: '720719', 21: '292229', 22: '710692', 23: '842890', 24: '721810', 25: '690100', 26: '30811', 27: '480257', 28: '100810', 29: '290260', 30: '811221', 31: '850133', 32: '390950', 33: '510510', 34: '621112', 35: '810411', 36: '841829', 37: '841981', 38: '850161', 39: '721210', 40: '580131', 41: '841891', 42: '521223', 43: '271290', 44: '852583', 45: '230800', 46: '961400', 47: '902830', 48: '590290', 49: '731823', 50: '910310', 51: '30254', 52: '630253', 53: '270300', 54: '70940', 55: '630900', 56: '382481', 57: '252922', 58: '293329', 59: '843131', 60: '702000', 61: '160420', 62: '40711', 63: '732599', 64: '120991', 65: '961511', 66: '570339', 67: '901890', 68: '901814', 69: '630239', 70: '870540', 71: '440793', 72: '540500', 73: '902300', 74: '250200', 75: '20680', 76: '30539', 77: '20322', 78: '950640', 79: '860610', 80: '20421', 81: '391520', 82: '500790', 83: '842511', 84: '300360', 85: '480100', 86: '510990', 87: '847010', 88: '250590', 89: '292330', 90: '441510', 91: '903082', 92: '40299', 93: '381220', 94: '392112', 95: '293711', 96: '840390', 97: '291422', 98: '71231', 99: '281512', 100: '71350', 101: '290944', 102: '950651', 103: '291631', 104: '20753', 105: '391723', 106: '550820', 107: '20810', 108: '401212', 109: '700529', 110: '350699', 111: '10639', 112: '701911', 113: '610130', 114: '810999', 115: '491110', 116: '854081', 117: '902490', 118: '810820', 119: '30339', 120: '420229', 121: '251690', 122: '290911', 123: '480593', 124: '630720', 125: '510529', 126: '870321', 127: '730722', 128: '847521', 129: '844313', 130: '631090', 131: '261220', 132: '390890', 133: '30729', 134: '30721', 135: '292640', 136: '711031', 137: '810921', 138: '940592', 139: '840734', 140: '690990', 141: '843340', 142: '283529', 143: '290389', 144: '847150', 145: '442090', 146: '701919', 147: '70993', 148: '720249', 149: '160231', 150: '680293', 151: '846620', 152: '220720', 153: '290420', 154: '901849', 155: '960820', 156: '843680', 157: '320500', 158: '846820', 159: '480591', 160: '721899', 161: '903031', 162: '340119', 163: '820559', 164: '290344', 165: '151499', 166: '847230', 167: '401590', 168: '870441', 169: '440611', 170: '521120', 171: '846729', 172: '282749', 173: '381239', 174: '284444', 175: '970390', 176: '690740', 177: '390931', 178: '750890', 179: '80440', 180: '481910', 181: '550951', 182: '920510', 183: '701337', 184: '560313', 185: '271091', 186: '390769', 187: '282200', 188: '852550', 189: '160419', 190: '251910', 191: '841330', 192: '810296', 193: '540822', 194: '10512', 195: '851621', 196: '970529', 197: '30990', 198: '391810', 199: '851529', 200: '321590', 201: '441490', 202: '480630', 203: '890200', 204: '293623', 205: '901590', 206: '851632', 207: '870380', 208: '841280', 209: '880621', 210: '80222', 211: '846310', 212: '851713', 213: '600121', 214: '380859', 215: '282570', 216: '870123', 217: '90811', 218: '310551', 219: '291813', 220: '620729', 221: '30281', 222: '530500', 223: '430160', 224: '720928', 225: '910111', 226: '170310', 227: '610721', 228: '200897', 229: '540239', 230: '900390', 231: '290532', 232: '291440', 233: '520849', 234: '970522', 235: '293294', 236: '170240', 237: '290362', 238: '80810', 239: '901790', 240: '852349', 241: '291620', 242: '620822', 243: '847029', 244: '820110', 245: '722990', 246: '261590', 247: '450490', 248: '292411', 249: '280519', 250: '847321', 251: '400291', 252: '761210', 253: '120190', 254: '910591', 255: '291830', 256: '290539', 257: '30448', 258: '260800', 259: '790390', 260: '410120', 261: '30617', 262: '180320', 263: '730890', 264: '330620', 265: '720990', 266: '710421', 267: '381010', 268: '110419', 269: '600192', 270: '848390', 271: '21012', 272: '844833', 273: '292130', 274: '80132', 275: '851680', 276: '902150', 277: '300640', 278: '280429', 279: '811213', 280: '551321', 281: '30783', 282: '731816', 283: '950631', 284: '721069', 285: '590900', 286: '901390', 287: '610712', 288: '282735', 289: '480620', 290: '720292', 291: '750400', 292: '730539', 293: '721510', 294: '840790', 295: '600110', 296: '854460', 297: '740100', 298: '551611', 299: '850860', 300: '940370', 301: '860730', 302: '520919', 303: '293890', 304: '560392', 305: '360490', 306: '180690', 307: '902221', 308: '291910', 309: '841440', 310: '30520', 311: '730419', 312: '151190', 313: '290410', 314: '160232', 315: '846320', 316: '150120', 317: '845951', 318: '10514', 319: '250860', 320: '560129', 321: '293491', 322: '401213', 323: '290219', 324: '650700', 325: '293296', 326: '630612', 327: '71420', 328: '871499', 329: '842720', 330: '700232', 331: '845612', 332: '30356', 333: '620722', 334: '290342', 335: '90931', 336: '848280', 337: '291539', 338: '252800', 339: '711029', 340: '800200', 341: '293040', 342: '291639', 343: '732112', 344: '320290', 345: '902229', 346: '961000', 347: '842121', 348: '293190', 349: '283190', 350: '230210', 351: '340241', 352: '842920', 353: '20711', 354: '480640', 355: '180632', 356: '440722', 357: '284310', 358: '621420', 359: '330730', 360: '570220', 361: '382492', 362: '271121', 363: '260200', 364: '320110', 365: '843840', 366: '400829', 367: '240290', 368: '391120', 369: '80299', 370: '901910', 371: '890690', 372: '740322', 373: '392220', 374: '70529', 375: '70320', 376: '700210', 377: '850431', 378: '930190', 379: '482290', 380: '283421', 381: '200971', 382: '760110', 383: '310100', 384: '550520', 385: '320619', 386: '850212', 387: '283327', 388: '540341', 389: '30292', 390: '520513', 391: '261900', 392: '481200', 393: '391610', 394: '850520', 395: '850990', 396: '150210', 397: '880730', 398: '290122', 399: '481031', 400: '30119', 401: '411410', 402: '845012', 403: '90220', 404: '350211', 405: '851420', 406: '190532', 407: '80261', 408: '292610', 409: '90821', 410: '551441', 411: '630419', 412: '291720', 413: '30493', 414: '843610', 415: '521143', 416: '30341', 417: '844315', 418: '291229', 419: '711049', 420: '853321', 421: '810520', 422: '681280', 423: '284430', 424: '732619', 425: '700711', 426: '842710', 427: '20752', 428: '310260', 429: '284700', 430: '521214', 431: '441829', 432: '152200', 433: '401120', 434: '960810', 435: '852581', 436: '291811', 437: '30569', 438: '30111', 439: '81350', 440: '71220', 441: '870830', 442: '71290', 443: '441840', 444: '210330', 445: '732399', 446: '810197', 447: '853221', 448: '440112', 449: '846593', 450: '740819', 451: '844851', 452: '841934', 453: '902710', 454: '470319', 455: '851989', 456: '300660', 457: '550959', 458: '910291', 459: '820291', 460: '581099', 461: '550952', 462: '30544', 463: '390330', 464: '10690', 465: '940161', 466: '820520', 467: '120791', 468: '851140', 469: '10633', 470: '841581', 471: '482050', 472: '610791', 473: '261390', 474: '845961', 475: '540246', 476: '610899', 477: '30822', 478: '340590', 479: '844630', 480: '510220', 481: '840690', 482: '750220', 483: '293149', 484: '40811', 485: '730431', 486: '611420', 487: '293159', 488: '900710', 489: '300213', 490: '80252', 491: '620443', 492: '721914', 493: '10290', 494: '10613', 495: '700800', 496: '960860', 497: '391290', 498: '30469', 499: '200981', 500: '720429', 501: '551312', 502: '400912', 503: '842952', 504: '842390', 505: '60110', 506: '220291', 507: '846596', 508: '30359', 509: '710229', 510: '580137', 511: '120110', 512: '284150', 513: '903039', 514: '160431', 515: '560410', 516: '50790', 517: '621320', 518: '620891', 519: '790310', 520: '320416', 521: '721935', 522: '150410', 523: '711420', 524: '850511', 525: '500400', 526: '821290', 527: '292021', 528: '610413', 529: '360690', 530: '610210', 531: '300670', 532: '920994', 533: '730793', 534: '970210', 535: '290543', 536: '850162', 537: '70954', 538: '711590', 539: '732490', 540: '540211', 541: '960630', 542: '940210', 543: '540821', 544: '30636', 545: '71232', 546: '60312', 547: '441819', 548: '370790', 549: '710811', 550: '842320', 551: '850432', 552: '551130', 553: '853661', 554: '150920', 555: '283630', 556: '271113', 557: '701990', 558: '741110', 559: '853990', 560: '843031', 561: '640299', 562: '282732', 563: '880629', 564: '520951', 565: '570232', 566: '848210', 567: '151790', 568: '292218', 569: '940159', 570: '441192', 571: '291020', 572: '846719', 573: '270500', 574: '30479', 575: '391590', 576: '690310', 577: '90421', 578: '721931', 579: '30543', 580: '271114', 581: '821191', 582: '293291', 583: '290722', 584: '880510', 585: '820780', 586: '282490', 587: '280410', 588: '440810', 589: '360410', 590: '30451', 591: '722691', 592: '281211', 593: '160249', 594: '441873', 595: '440711', 596: '270400', 597: '847490', 598: '844900', 599: '846233', 600: '611190', 601: '890590', 602: '820231', 603: '80231', 604: '151550', 605: '391310', 606: '610444', 607: '700729', 608: '850140', 609: '850151', 610: '842940', 611: '843410', 612: '230330', 613: '350790', 614: '720838', 615: '911012', 616: '901832', 617: '842132', 618: '530929', 619: '90962', 620: '391710', 621: '520100', 622: '841710', 623: '284169', 624: '848220', 625: '841630', 626: '151620', 627: '900630', 628: '110290', 629: '30433', 630: '721730', 631: '844250', 632: '293750', 633: '80540', 634: '550330', 635: '960110', 636: '841221', 637: '30742', 638: '391890', 639: '180631', 640: '540761', 641: '481013', 642: '30486', 643: '551429', 644: '442199', 645: '200591', 646: '731829', 647: '711011', 648: '550319', 649: '481690', 650: '281700', 651: '110220', 652: '853223', 653: '420291', 654: '840999', 655: '392530', 656: '911440', 657: '170114', 658: '890610', 659: '381800', 660: '30213', 661: '510129', 662: '391690', 663: '845630', 664: '860310', 665: '40110', 666: '441850', 667: '441252', 668: '270810', 669: '480421', 670: '850163', 671: '820600', 672: '691390', 673: '731700', 674: '550340', 675: '291439', 676: '30354', 677: '902190', 678: '540244', 679: '790120', 680: '30699', 681: '30483', 682: '846691', 683: '848041', 684: '480890', 685: '550640', 686: '300442', 687: '470730', 688: '20210', 689: '290391', 690: '720851', 691: '610323', 692: '300692', 693: '300120', 694: '620329', 695: '853110', 696: '481930', 697: '902511', 698: '841810', 699: '600623', 700: '871494', 701: '400110', 702: '700910', 703: '392310', 704: '600539', 705: '30481', 706: '320415', 707: '853340', 708: '210420', 709: '960920', 710: '732620', 711: '600632', 712: '390311', 713: '720529', 714: '854020', 715: '71022', 716: '680423', 717: '290243', 718: '730519', 719: '950661', 720: '292023', 721: '470620', 722: '271012', 723: '900211', 724: '252610', 725: '740610', 726: '291450', 727: '30289', 728: '283321', 729: '902789', 730: '280530', 731: '960310', 732: '441920', 733: '30195', 734: '71332', 735: '810939', 736: '930599', 737: '520527', 738: '250870', 739: '220510', 740: '890323', 741: '30743', 742: '292412', 743: '520534', 744: '20860', 745: '350610', 746: '292029', 747: '470710', 748: '551513', 749: '300449', 750: '390610', 751: '901850', 752: '90619', 753: '20726', 754: '283230', 755: '200410', 756: '760719', 757: '490590', 758: '290559', 759: '521111', 760: '293332', 761: '261400', 762: '920190', 763: '843010', 764: '841370', 765: '170410', 766: '520623', 767: '840120', 768: '690721', 769: '282630', 770: '401694', 771: '848010', 772: '30711', 773: '852691', 774: '847690', 775: '681320', 776: '701342', 777: '720280', 778: '640319', 779: '292424', 780: '720410', 781: '940383', 782: '30235', 783: '440111', 784: '850870', 785: '870894', 786: '841919', 787: '382430', 788: '722810', 789: '80121', 790: '30731', 791: '620423', 792: '521152', 793: '720270', 794: '610419', 795: '640320', 796: '620441', 797: '620432', 798: '110520', 799: '300439', 800: '282612', 801: '10410', 802: '830890', 803: '842381', 804: '851821', 805: '180500', 806: '482361', 807: '902680', 808: '860791', 809: '520511', 810: '940511', 811: '291817', 812: '830150', 813: '292112', 814: '853400', 815: '420292', 816: '80221', 817: '843360', 818: '940180', 819: '854610', 820: '700510', 821: '100640', 822: '290891', 823: '300390', 824: '851590', 825: '551299', 826: '360610', 827: '910129', 828: '730900', 829: '740729', 830: '920930', 831: '260120', 832: '721650', 833: '850132', 834: '853120', 835: '293331', 836: '630690', 837: '410419', 838: '80620', 839: '491199', 840: '290949', 841: '482110', 842: '870130', 843: '100620', 844: '271312', 845: '850450', 846: '820713', 847: '620331', 848: '520821', 849: '30251', 850: '640291', 851: '382312', 852: '40410', 853: '710813', 854: '850720', 855: '640312', 856: '848640', 857: '940340', 858: '520829', 859: '430130', 860: '292019', 861: '854143', 862: '10620', 863: '810391', 864: '200961', 865: '100310', 866: '80310', 867: '848049', 868: '282410', 869: '620411', 870: '841011', 871: '441011', 872: '511219', 873: '382769', 874: '930310', 875: '200820', 876: '290345', 877: '40790', 878: '100290', 879: '844720', 880: '842519', 881: '731021', 882: '151411', 883: '292113', 884: '851531', 885: '282120', 886: '291423', 887: '940539', 888: '40899', 889: '293721', 890: '841821', 891: '681099', 892: '853951', 893: '731582', 894: '130232', 895: '530710', 896: '940531', 897: '841319', 898: '292244', 899: '620419', 900: '846810', 901: '841939', 902: '441700', 903: '560811', 904: '600634', 905: '710429', 906: '853222', 907: '30199', 908: '871150', 909: '560229', 910: '701333', 911: '760320', 912: '730840', 913: '30551', 914: '846232', 915: '950699', 916: '902730', 917: '401033', 918: '291250', 919: '210220', 920: '846022', 921: '360330', 922: '880692', 923: '51191', 924: '293959', 925: '130220', 926: '291221', 927: '30561', 928: '293319', 929: '820412', 930: '70960', 931: '220421', 932: '293355', 933: '901120', 934: '730451', 935: '591190', 936: '842539', 937: '761490', 938: '160555', 939: '950825', 940: '540754', 941: '550690', 942: '521215', 943: '890120', 944: '844590', 945: '721123', 946: '961390', 947: '382212', 948: '30364', 949: '630260', 950: '380891', 951: '540823', 952: '852862', 953: '850760', 954: '450110', 955: '151110', 956: '854590', 957: '852412', 958: '510620', 959: '630229', 960: '940131', 961: '30191', 962: '570242', 963: '290129', 964: '71021', 965: '30319', 966: '310319', 967: '520813', 968: '551120', 969: '620339', 970: '460219', 971: '180620', 972: '90121', 973: '440122', 974: '400259', 975: '160239', 976: '690490', 977: '845910', 978: '681410', 979: '230120', 980: '350400', 981: '401320', 982: '310311', 983: '283410', 984: '845290', 985: '620120', 986: '920290', 987: '120999', 988: '821599', 989: '251720', 990: '820210', 991: '120230', 992: '847759', 993: '620610', 994: '610431', 995: '120930', 996: '902590', 997: '901813', 998: '291030', 999: '70956'}

In [58]:
# count = 0
# for i,row in df_test.iterrows():
#     if str(row["hscode"]).strip("'") in code_dict.values():
#         continue
#     else:
#         print(row["hscode"])
#         count += 1

# print(count)

- Load second dataset

In [9]:
df_test = pd.read_csv('./dataset/hs_product_classification.csv', sep=';')

# Now you can inspect your DataFrame
df_test.head()

,OEC ID,HS ID,Product Level,Product Name,Revision
0,1,1,Section,Animal Products,"HS92,HS96,HS02,HS07,HS12,HS17,HS22"
1,101,01,HS2,Live animals,"HS92,HS96,HS02,HS07,HS12,HS17,HS22"
2,10101,01.01,HS4,Horses,"HS92,HS96,HS02,HS07,HS12,HS17,HS22"
3,1010110,01.01.10,HS6,Live horses/asses/mules/hinnies: pure-bred bre...,"HS02,HS07"
4,1010111,01.01.11,HS6,Pure-bred Breeding Horses,"HS92,HS96"

In [10]:
df_test["hscode"] = df_test["HS ID"].str.replace('.', '')
df_test["description"] = df_test["Product Name"]

In [11]:
df_test

,OEC ID,HS ID,Product Level,Product Name,Revision,hscode,description
0,1,1,Section,Animal Products,"HS92,HS96,HS02,HS07,HS12,HS17,HS22",1,Animal Products
1,101,01,HS2,Live animals,"HS92,HS96,HS02,HS07,HS12,HS17,HS22",01,Live animals
2,10101,01.01,HS4,Horses,"HS92,HS96,HS02,HS07,HS12,HS17,HS22",0101,Horses
3,1010110,01.01.10,HS6,Live horses/asses/mules/hinnies: pure-bred bre...,"HS02,HS07",010110,Live horses/asses/mules/hinnies: pure-bred bre...
4,1010111,01.01.11,HS6,Pure-bred Breeding Horses,"HS92,HS96",010111,Pure-bred Breeding Horses
...,...,...,...,...,...,...,...
8278,21970690,97.06.90,HS6,Antiques >100 years ≤250 years,HS22,970690,Antiques >100 years ≤250 years
8279,22,22,Section,Unspecified,NaN,22,Unspecified
8280,2299,99,HS2,Unclassified,NaN,99,Unclassified
8281,229999,99.99,HS4,Commodities not elsewhere specified,NaN,9999,Commodities not elsewhere specified
8282,22999999,99.99.99,HS6,Commodities not specified according to kind,NaN,999999,Commodities not specified according to kind

In [ ]:
# # 1. First, make sure your column is the string data type
# df_test['hscode'] = df_test['hscode'].astype(str)

# # 2. Use .str.zfill() to pad each string to a length of 6
# df_test['hscode'] = df_test['hscode'].str.zfill(6)

# # Now check the result
# # print(df_test['hscode'])
# df_test['hscode']

- Create test dataset from dataset 02 after the checking the available HS Code in dataset 01

In [ ]:
df_test["hscode"] = df_test["hscode"].astype(str)
df_test = df_test[df_test["hscode"].str.len() >= 5]
df["hscode"] = df["hscode"].astype("int64")
df_test["hscode"] = df_test["hscode"].astype("int64")
matches = df_test[df_test["hscode"].isin(df["hscode"])]
print(matches)
matches = matches.sample(n=1000, random_state=42)
df_test_final = matches[["hscode","description"]]
df_test_final.to_csv("test_ext_hs_codes.csv", encoding='utf-8', index=False, header=["hscode", "description"])

        OEC ID     HS ID Product Level  \
17     1010290  01.02.90           HS6
23     1010410  01.04.10           HS6
27     1010512  01.05.12           HS6
29     1010514  01.05.14           HS6
41     1010613  01.06.13           HS6
...        ...       ...           ...
8227  20961400  96.14.00           HS6
8256  21970199  97.01.99           HS6
8263  21970310  97.03.10           HS6
8271  21970522  97.05.22           HS6
8274  21970539  97.05.39           HS6

                                           Product Name  \
17                                  Non-breeding Cattle
23                                           Live Sheep
27            Small Turkeys (Live, weighing up to 185g)
29    Poultry: live, geese, weighing not more than 185g
41    Mammals: live, camels and other camelids (Came...
...                                                 ...
8227  Smoking pipes: pipe bowls, and cigar or cigare...
8256                 Other handmade artworks ≤100 years
8263           Original sculptures, statuary >100 years
8271     Collectors' pieces, extinct/endangered species
8274           Numismatic collectors' pieces ≤100 years

                                Revision  hscode  \
17    HS92,HS96,HS02,HS07,HS12,HS17,HS22   10290
23    HS92,HS96,HS02,HS07,HS12,HS17,HS22   10410
27         HS96,HS02,HS07,HS12,HS17,HS22   10512
29                        HS12,HS17,HS22   10514
41                        HS12,HS17,HS22   10613
...                                  ...     ...
8227                 HS07,HS12,HS17,HS22  961400
8256                                HS22  970199
8263                                HS22  970310
8271                                HS22  970522
8274                                HS22  970539

                                            description
17                                  Non-breeding Cattle
23                                           Live Sheep
27            Small Turkeys (Live, weighing up to 185g)
29    Poultry: live, geese, weighing not more than 185g
41    Mammals: live, camels and other camelids (Came...
...                                                 ...
8227  Smoking pipes: pipe bowls, and cigar or cigare...
8256                 Other handmade artworks ≤100 years
8263           Original sculptures, statuary >100 years
8271     Collectors' pieces, extinct/endangered species
8274           Numismatic collectors' pieces ≤100 years

[1000 rows x 7 columns]

C:\Users\Asus\AppData\Local\Temp\ipykernel_2780\1046289385.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test["hscode"] = df_test["hscode"].astype("int64")

In [14]:
# df_final = eval_df[["hscode","description"]]
# df_final.to_csv("eval_hs_codes.csv", encoding='utf-8', index=False, header=["hscode", "description"])

In [69]:
df_train = pd.read_csv('./dataset/harmonized-system.csv')
df_train

,section,hscode,description,parent,level
0,I,1,Animals; live,TOTAL,2
1,I,101,"Horses, asses, mules and hinnies; live",1,4
2,I,10121,"Horses; live, pure-bred breeding animals",101,6
3,I,10129,"Horses; live, other than pure-bred breeding an...",101,6
4,I,10130,Asses; live,101,6
...,...,...,...,...,...
6935,XXI,970690,Antiques; of an age exceeding 100 years but no...,9706,6
6936,TOTAL,99,Commodities not specified according to kind,TOTAL,2
6937,TOTAL,9999,Commodities not specified according to kind,99,4
6938,TOTAL,999999,Commodities not specified according to kind,9999,6
6939,TOTAL,TOTAL,Total of all HS2022 commodities,TOTAL,5

In [56]:
df_train["hscode"].head(20)

0         1
1       101
2     10121
3     10129
4     10130
5     10190
6       102
7     10221
8     10229
9     10231
10    10239
11    10290
12      103
13    10310
14    10391
15    10392
16      104
17    10410
18    10420
19      105
Name: hscode, dtype: object

In [44]:
df_test["hscode"].astype("int32").head(20)

0         1
1         1
2       101
3     10110
4     10111
5     10119
6     10120
7     10121
8     10129
9     10130
10    10190
11      102
12    10210
13    10221
14    10229
15    10231
16    10239
17    10290
18      103
19    10310
Name: hscode, dtype: int32

In [ ]:
# df_train = df_train[df_train["hscode"].values != "TOTAL"]
# df_train["hscode"] = df_train["hscode"].astype("int")
# code_list=[]
# for idx,row in df_test.iterrows():
#     if(int(row["hscode"]) in df_train["hscode"].values):
#         record = {"hscode":int(row["hscode"]),"description":row["description"]}
#         code_list.append(record)
# df_final = pd.DataFrame.from_records(code_list) 
# df_final
# df_final.to_csv("test_hs_codes.csv", encoding='utf-8', index=False, header=["hscode", "description"])

In [13]:
df_01 = pd.read_csv('./dataset/harmonized-system.csv')
df_02 = pd.read_csv('./dataset/test_ext_hs_codes.csv')

In [34]:
df_01.value_counts("hscode")

hscode
0         1
620719    1
620891    1
620829    1
620822    1
         ..
251110    1
251020    1
251010    1
250900    1
999999    1
Name: count, Length: 6940, dtype: int64

In [35]:
df_02.value_counts("hscode")

hscode
10290     1
721899    1
720529    1
720719    1
720838    1
         ..
300640    1
300660    1
300670    1
300692    1
970539    1
Name: count, Length: 1000, dtype: int64

- Check if both test dataset contains the same HS code or not

In [36]:
# count = 0
# for _, row in df_02.iterrows():
#     if row["hscode"] in df_01["hscode"]:
#         count += 1
# print(count)
df_01["hscode"] = df_01["hscode"].astype("int64")
df_02["hscode"] = df_02["hscode"].astype("int64")
matches = df_02[df_02["hscode"].isin(df_01["hscode"])]
print(matches)

     hscode                                        description
0    820110                                 Spades and shovels
1    720851    Iron/Steel Sheets: Very Thick, Hot-Rolled, Wide
2     20753  Meat and edible offal: of geese, fatty livers ...
3    843131           Parts of lifts, skip hoist or escalators
4    540823  Woven fabric >85% artif filament/strip, yarn d...
..      ...                                                ...
995  293159          Other halogenated phosphorous derivatives
996  903033  Voltage, Current, Resistance & Power Measuring...
997  270300                       Peat (including peat litter)
998  820520                   Hammers including sledge hammers
999  880230  Fixed wing aircraft, unladen weight 2,000-15,0...

[1000 rows x 2 columns]